@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #607d8b;
	font-family: Roboto;
	font-size: 150%;
}

button {
	background-color: #607D8B;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
