#content {
	height:100%;
	width: 100%;
}

#loadingBar {
	background-color: #ffffff;
	height: 100%;
	position: absolute;
	width: 100%;
}

#loadingBarPlacement {
	background-color: red;
	bottom: 0%;
	height: 1%;
	left: 0%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	position: absolute;
	right: 0%;
	top: 0%;
	width: 50%;
}

#loadingBarAnimation {
	height: 100%;
	width: 100%;
}

